# first tab suggests ambiguous variants
set show-all-if-ambiguous on

# bell setup
set bell-style none
set prefer-visible-bell

# show file types while completing
set visible-stats on

# Be 8 bit clean.
set input-meta on
set output-meta on

# To allow the use of 8bit-characters like the german umlauts, comment out
# the line below. However this makes the meta key not work as a meta key,
# which is annoying to those which don't need to type in 8-bit characters.
set convert-meta off

# ask before displaying more than 500 completions
set completion-query-item 500

set meta-flag on
set mark-symlinked-directories on

# All of the following map the escape sequence of the 
# value contained inside the 1st argument to the 
# readline specific functions

"\eOd": backward-word
"\eOc": forward-word
